h1 {
  color: orange;
}
li {
  display: inline;
  padding-right: 30px;
}
nav {
  border: solid;
}
p {
  padding-left: 20px;
  padding-bottom:15px;
  color: magenta;
}
input {
  margin-left: 20px;
  padding-left:50px;
}
button {
  background-color: orange;
  border: solid;
  margin-left: 20px;
  width: 70px;
}
